# ESP-IDF Build output
build/
sdkconfig.old

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# IDE Cache
.cache/

# Temporary Scripts
fix_idf_git*.py
degit_submodules.py
read_log.py
fix_idf_git.py
fix_idf_git_v2.py
fix_idf_git_v3.py
fix_idf_git_v4.py

# Test videos
*.mp4
*.avi
